.control-object,
.control-array {

  &.smui-accordion > .smui-paper {

    > .smui-accordion__header {
      background-color: #E4E4E4;
      color: #6B6B6B;
      border-radius: 6px;
      align-items: center;

      > .smui-accordion__header__title {
        display: inline-flex;
        align-items: center;
        padding-left: 2px;

        > .control-object-title {
          padding-left: 8px;
          text-transform: uppercase;
        }
      }

      > .smui-accordion__header__description {
        font-style: italic;
        opacity: 1;
      }

      > .smui-accordion__header__title,
      > .smui-accordion__header__description {
        padding-top: 1px;
        padding-bottom: 1px;
      }

      .mdc-icon-button {
        display: inline-flex;
        height: 34px;
        justify-content: center;
      }

      .jsonschema-form > .smui-paper > .smui-paper__content > & {
        background-color: #6B6B6B;
        color: #FFFFFF;
      }
    }

    &.has-required > .smui-accordion__header {
      padding-left: 18px;
    }
  }
}
